<!-- Sticky Header  -->
<div class="sticky-header">
    <div class="auto-container clearfix">
        <!--Logo-->
        <div class="logo pull-left">
          <a href="/" title="{{site_name }}"><img src="/themes/custom/inra/images/sticky-logo.png" alt="" title=""></a>
        </div>
        <!--Right Col-->
        <div class="pull-right">
            <!-- Main Menu -->
            <nav class="main-menu clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
            </nav><!-- Main Menu End-->
        </div>
    </div>
</div><!-- End Sticky Menu -->