<section class="detail-block">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="box">
                    <div class="img-hold">
                        <img src="themes/au/assets/images/icon01.png" alt="">
                    </div>
                    <div class="text-hold">
                        <h3>Mot de directeur</h3>
                        <p>
                            Un agréable moment de vous souhaiter la bienvenue, en mon nom et au nom du personnel de l'Agence Urbaine de Nador-Driouch-Guercif, via cette nouvelle version évoluée du site web de notre institution.
                        </p>
                        <a href="#" class="btn ls-btn">Lire suite</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="row">
                    <div class="col-lg-4 col-sm-4 col-6 mb-3">
                        <div class="icon-box fir">
                            <img src="themes/au/assets/images/icon02.png" alt="" class="first">
                            <img src="themes/au/assets/images/icon11.png" alt="" class="d-none sec">
                            <h4>
                                <a class="" href="/contactez-nous">Contactez-nous</a>
                                
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-6 mb-3">
                        <div class="icon-box sec">
                            <img src="themes/au/assets/images/icon16.png" alt="" class="tri">
                            <img src="themes/au/assets/images/icon03.png" alt="" class="for d-none">
                            <h4>
                                <a class="" href="/publications">NOS<br>
                                    PUBLICATIONS</a>
                                
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-6 mb-3">
                        <div class="icon-box thi">
                            <img src="themes/au/assets/images/icon04.png" alt="" class="fiv">
                            <img src="themes/au/assets/images/icon12.png" alt="" class="six d-none">
                            <h4>
                                <a class="" href="/Présentation/ressort-territorial">Térritorie<br> d'intervention</a>
                                
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-6">
                        <div class="icon-box for">
                            <img src="themes/au/assets/images/icon05.png" alt="" class="sev">
                            <img src="themes/au/assets/images/icon13.png" alt="" class="d-none eig">
                            <h4>
                                <a class="" href="/avis-annonces">OFFRES<br>D'EMPLOI</a>
                               
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-6">
                        <div class="icon-box fiv">
                            <img src="themes/au/assets/images/icon06.png" alt="" class="nin">
                            <img src="themes/au/assets/images/icon14.png" alt="" class="ten d-none">
                            <h4>
                                <a class="" href="/form/enquete-satisfaction">ENQUÊTE<br>DE SATISFACTION</a>
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-4 col-6">
                        <div class="icon-box six">
                            <img src="themes/au/assets/images/icon07.png" alt="" class="ele">
                            <img src="themes/au/assets/images/icon15.png" alt="" class="tel d-none">
                            <h4>
                                <a class="" href="/avis-annonces/appel_a_doffres">Appels<br>DE d'offres</a>
                                <br>
                                
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>