
<!-- Blog Area -->
 {% set lang = cur_lang %}
<section class="md_geo" id="md_ms">
    
     {% set lang = cur_lang %}
    <main class="ms">
	<div class="section-title">
									<h2>{% trans %}AUBM Géoportail{% endtrans %}</h2>
							</div>
	
	  <div class="cont_ms">
    <div class="content-ms">
	

     
      <button class="btn"><a href="{{ pub_link.pub_link|raw }}">{% trans %}en savoir plus{% endtrans %}</a></button>
	 
    </div>
  </div>

   </main>   
</section>
