    <!-- Ace Responsive Menu -->
    <nav>
        <!-- Menu Toggle btn-->
        <div class="menu-toggle">
            <h3>Menu</h3>
            <button type="button" id="menu-btn">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <!-- Responsive Menu Structure-->
        <!--Note: declare the Menu style in the data-menu-style="horizontal" (options: horizontal, vertical, accordion) -->
        <ul id="respMenu" class="ace-responsive-menu" data-menu-style="horizontal">
              <li>
                <a href="javascript:;">
                    
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    
                    <span class="title">About Us</span>
		    <span class="arrow"></span>

                </a>
                <!-- Level Two-->
                <ul>
                    <li>
                        <a href="#">Sub Item One</a>
                    </li>
                    <li>
                        <a href="#">Sub Item Two</a>
                    </li>
                    <li>
                        <a href="#">Sub Item Three</a>
                    </li>
                    <li>
                        <a href="#">Sub Item Four</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                     
                    <span class="title">4 Level Menu</span>
			<span class="arrow"></span>
                </a>
                <!-- Level Two-->
                <ul>
                    <li>
                        <a href="javascript:;">
                             
                            Sub Item One
                        </a>
                    </li>
                    <li>
                        <a href="#">
                             
                            Sub Item Two
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                             
                            Sub Item Three
                        </a>
                        <!-- Level Three-->
                        <ul>
                            <li><a href="#"> Sub Item Link 1</a></li>
                            <li>
                                <a href="javascript:;">
                                     Sub Item Link 2</a>
                                <!-- Level Four-->
                                <ul>
                                    <li><a href="#"><i class="fa fa-trash" aria-hidden="true"></i>Sub Item Link 1</a></li>
                                    <li><a href="#"><i class="fa fa-dashcube" aria-hidden="true"></i>Sub Item Link 2</a></li>
                                    <li><a href="#"><i class="fa fa-dropbox" aria-hidden="true"></i>Sub Item Link 3</a></li>
                                </ul>
                            </li>
                            <li><a href="#"> Sub Item Link 3</a></li>
                        </ul>
                    </li>

                    <li>
                        <a href="#">
                             
                            Sub Item Four
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a class="" href="javascript:;">
                     
                    <span class="title">Services</span>
			<span class="arrow"></span>
                </a>
                <ul>
                    <li>
                        <a href="#">Sub Item One
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">Sub Item Two
                        </a>
                        <ul>
                            <li><a href="#">Sub Item Link 1</a></li>
                            <li><a href="#">Sub Item Link 2</a></li>
                            <li><a href="#">Sub Item Link 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:;">Sub Item Three
                        </a>
                        <ul>
                            <li><a href="#">Sub Item Link 1</a></li>
                            <li><a href="#">Sub Item Link 1</a></li>
                            <li><a href="#">Sub Item Link 1</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Sub Item Four
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    
                    <span class="title">Products</span>
                </a>
            </li>
            <li class="last ">
                <a href="javascript:;">
                    
                    <span class="title">Contact Us</span>
                </a>
            </li>
        </ul>
    </nav>
    <!-- End of Responsive Menu -->