
<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">

  <!--Slides-->
  <div class="carousel-inner" role="listbox">
  {% set j = 0 %}
      {% for slide in sliders %}
    <div class="carousel-item {% if j == 0 %} active{% endif %}">
	
      <div class="view">
        <img class="d-block w-100" src="{{ file_url(slide.field_photo_.entity.fileuri) }}"  alt="{{ slide.label }}">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">{{ slide.label }}</h3>
      </div>
    </div>
	{% set j = j + 1 %}
      {% endfor %}
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->