{#
/**
 * @file
 * Contains the text of the md_newsletter explanation page
 */
#}
<div class="row">
					<div class="col-md-4 text-align-right">
            <h4 class="news-letter">
									 {{ 'Newsletter'|t }}
								</h4>
          </div>
		  <div class="col-md-8 ">
             {{ form.form }}
          </div>
		  </div>	
<div class="newsletter-bg">
								

								

							</div>	

